.login-page {
  width: 430px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.login-title {
  font-size: 40px;
}

.login-form > h2 {
  text-align: center;
  color: white;
}

.login-form > form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login-form > form > input {
  width: 350px;
  background-color: #612c4f;
  color: #ffffff;
  padding: 0.7rem 1rem;
  border-radius: 20px;
  border: 0;
}

.login-form > form > input:focus {
  border: 0;
  outline: 0;
}

.login-form > form > input::-webkit-input-placeholder {
  color: #ffffff;
}

.login-buttons {
  display: flex;
  justify-content: space-between;
}

.login-buttons > a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
}

.login-buttons > a > span:nth-child(2) > * {
  margin-top: 5px;
}

.login-buttons > button {
  width: 100px;
  border: 0;
  border-radius: 5px;
  background-color: #ee10b0;
  color: white;
  font-size: 17px;
  cursor: pointer;
}

.login-with-media {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.login-with-media button {
  width: 145px;
  height: 42px;
  color: white;
  border-radius: 20px;
  border: 1px solid white;
  background-color: inherit;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}

.google-login > button > img {
  width: 20px;
}
.google-login,
.facebook-login > button > img {
  width: 20px;
}

.login-with-media button > span {
  margin-top: 3px;
}

.have-not-account {
  width: 100%;
  margin-top: 4rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.have-not-account > span {
  font-size: 20px;
  font-weight: 500;
  color: white;
}

.have-not-account > button {
  width: 100px;
  height: 38px;
  border: 0;
  border-radius: 5px;
  background-color: #0e9eef;
  color: white;
  font-size: 17px;
  cursor: pointer;
}

@media (max-width: 430px) {
  .login-page {
    width: 330px;
  }

  .login-with-media {
    width: 100%;
  }
}
