.circle-btn {
  display: inline-block;
}

.black {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: black;
  border: 0.7px solid white;
}

.pink {
  width: 20px;
  height: 9px;
  border-radius: 10px;
  background-color: var(--pink-color);
}
