.slider {
  width: 90%;
  height: 350px;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

.slider > div {
  max-width: 1100px;
  position: relative;
  z-index: 0;
}

.slider > div::before {
  content: '';
  display: inline-block;
  position: absolute;
  border-radius: 10px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.394),
    rgba(0, 0, 0, 0.394),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0)
  );
  z-index: 1;
}

.slider > div::after {
  content: '';
  display: inline-block;
  position: absolute;
  border-radius: 10px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.821),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0)
  );

  z-index: 2;
}

.slider > div > div {
  z-index: 3;
}

.img-slider-img {
  border-radius: 10px;
}

.img-slider-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
  flex-shrink: 0;
  flex-grow: 0;
  transition: translate 300ms ease-in-out;
}

.img-slider-btn {
  all: unset;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 1rem;
  cursor: pointer;
  transition: background-color 100ms ease-in-out;
}

/* .img-slider-btn:hover,
.img-slider-btn:focus-visible {
  background-color: rgb(0, 0, 0, 0.2);
} */

.img-slider-btn > span {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #1e1e1e;
}

.img-slider-btn > span > * {
  stroke-width: 1.5px;
  color: var(--pink-color);
  font-size: 20px;
  width: 3rem;
  height: 3rem;
}

.img-slider-dot-btn {
  all: unset;
  display: block;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;

  transition: scale 100ms easein;
}

.img-slider-dot-btn:hover {
  scale: 1.2;
}

.img-slider-dot-btn > * {
  stroke: white;
  fill: black;
  height: 100%;
  width: 100%;
}

@media (max-width: 1670px) {
  .slider > div {
    max-width: 900px;
  }
}
@media (max-width: 1440px) {
  .slider > div {
    max-width: 700px;
  }
}
