.carousel {
  width: 90%;
  margin-top: 3rem;
}

.swiper {
  width: 900px;
  height: 344px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
